<div class="text-center pt-5">
  <% if @user %>
    <b>Logged in as:</b><br><i><%= @user.email %></i>
  <% end %> 
</div>  
<div class="container text-center my-5 landing">
    <h1>Heads Up!</h1>
    <h5>Was your customer service experience terrible, and you want to vent about it? 
        Was your customer service experience amazing, and you want to send a shout out
        on behalf of the poor soul that spends their days getting yelled at by unhappy 
        customers? Either way, give everyone out there a "HEADS UP!".  Think of it as a way to 
        either warn your peers of, or recommend a service to them.
    </h5>
</div>

<div class="text-center">
  <%= link_to "Login", login_path(@users), class: "loginLink" %>
</div>

<h3 class="text-center text-dark mt-3">-Or-</h3>

<div class="text-center">
  <%= link_to "Click To Get Started", sign_up_path(@users), class: "signUpLink" %>
</div>