<% unless comment.archived? %>
    <p class="pb-2">
      <strong>Commenter:</strong><br>
      <%= comment.commenter %>
    </p>

    <p class="pb-2">
      <strong>Comment:</strong><br>
      <%= comment.body %>
    </p>

    <ul class="px-0">
      <li class="destroyComment list-unstyled"><%= link_to "Destroy Comment", [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?" }%></li>
    </ul><br>

<% end %>
