<div class="container-fluid text-center main px-5">
  <div class="card bg-light text-center text-light">
      <div class="card-header bg-secondary"><h2 class="pt-1">Articles</h2></div>
      <div class="card-body">
          <ul class="text-start">
            <% @articles.each do |article| %>
              <% unless article.archived? %>
                <li class="list-unstyled mt-3">
                  <%= link_to article.title, article %>
                </li>
              <% end %>
            <% end %>
          </ul>
      </div>
  </div>
  <div class="mt-3">
    <%= button_to "New Article", new_article_path(@articles), method: :get, class:"newArticleBtn" %>
  </div>
</div>

