.main {
    padding: 50px;
    background: #e5f6f6;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f4fdfd;
    border: 1px solid silver;
    border-radius: 5px;
    & > h1 {
        font-size: 12rem;
        padding-top: 5rem;
        
    }
    & > h5 {
        letter-spacing: 1px;
        padding: 0 5rem 5rem 5rem;
        line-height: 1.4;
    }
}

.signUpLink {
    font-size: 40px;
    color: #000;
    text-decoration-line: none;
    &:hover {
        color: #696a74;
        border-bottom: 1px solid #696a74;
        padding-bottom: 1px;
    }
}

.myBtn {
	background: #fff;
    color: #000;
    border: 2px solid #cccbcb;
    border-radius: 5px;
	  &:hover {
        border: 2px solid #cccbcb;		
        cursor: pointer;
        background: #696a74;
        color: whitesmoke;
        transition: .3s;
    }
}

.mainNavBtn {
    color: #000;
    font-weight: bolder;
    text-decoration-line: none;
    margin-right: 6px;
    &:hover {
        color: #696a74;
        border-bottom: 1px solid #696a74;
    }
}

.container-fluid a {
    font-size: 20px;
    margin-left: 12px;
    padding: 0 6px;
    letter-spacing: 1px;
    &:hover {
        color: #000;
        border-bottom: 1px solid #000;
    }
}

.newArticleBtn {
    background: #fff;
    color: #000;
    width: 100%;
    font-size: 22px;
    border: 2px solid #cccbcb;
    border-radius: 5px;
	  &:hover {
		border: solid 1px #fff;
		cursor: pointer;
        background: #696a74;
        color: whitesmoke;
        // transition: .3s;
    }
}

.myBtnWidth {
    max-width: 150px;
}

.headsUpNewArticle {
    width: 40%;
}

.card-body a {
    color: darkslateblue;
    text-decoration-line: none;
}

.destroyComment a {
    padding: 0;
    margin: 0;
    text-decoration-line: none;
    color: darkturquoise;
    &:hover {
        color: darkslategray;
        border-bottom: 1px solid darkslategray;
        padding-bottom: 1px;
    }
}

.add-comment-bg {
    background: #e5f6f6;
    border: none;
}

.static-links li {
    width: auto;
}

.edit a,
.destroy a,
.articles a {
    padding: 0;
    margin: 0;
    text-decoration-line: none;
    color: #000;
    &:hover {
        color: #696a74;
        border-bottom: 1px solid #696a74;
        padding-bottom: 1px;
    }
}
